body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}